.container {
  display: flex;
  width: 60%;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.form textarea {
  font-family: inherit;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .formContainer {
    width: 100%;
  }
}
