.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  min-width: 300px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
  text-align: right;
}
.container h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.container p {
  color: #62666d;
  margin-top: 20px;
  margin-bottom: 10px;
}

.authForm {
  padding: 20px;
  margin: 0 auto;
}

.authForm label {
  text-align: right;
  display: block;
  margin-bottom: 10px;
}

.authForm input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 2px;
  border: 2px solid #edeeee;
  border-radius: 5px;
}

.authForm input:focus {
  outline: 1px solid #0077ff;
}

.authForm button {
  display: block;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  width: 100%;
}
