.container {
  padding: 10px;
}
.postList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

@media (max-width: 768px) {
  .postList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .postList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.container button {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.container button:hover {
  opacity: 0.8;
}
