@font-face {
  font-family: "Iranian Sans";
  src: url("../public/fonts/Iranian\ Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Iranian Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .leaflet-container {
    height: 200px;
  }
}
